@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "JyotishLayout";
}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit an Appointment</h5>
            <form>
                <div class="form-group">
                    <label for="mode">Mode</label>
                    <select class="form-control" id="mode">
                        <option>Online</option>
                        <option>Offline</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <div class="form-group">
                    <label for="time">Time</label>
                    <input type="time" class="form-control" id="time">
                </div>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile No.</label>
                    <input type="number" class="form-control" id="mobile" placeholder="Enter your mobile number">
                </div>
                <div class="form-group">
                    <label for="problems">Problems</label>
                    <input type="text" class="form-control" id="problems" placeholder="Describe your problems">
                </div>
                <div class="form-group">
                    <label for="Solution">Solution</label>
                    <input type="text" class="form-control" id="problems" placeholder="Describe your problems">
                </div>
                <div class="form-group">
                    <label for="amount">Amount Charged</label>
                    <input type="number" class="form-control" id="amount" placeholder="Enter amount charged">
                </div>
                <a href="/Jyotish/Appointments">
                    <button class="btn btn-primary">Submit</button>
                </a>

            </form>
        </div>
    </div>
</div>