@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
}
<div class="bg-light">
    <div class="container mt-5">
        <h2 class="mb-4">Expertise List</h2>
        <a href="/Admin/AddExpertise"> <button class="btn btn-success">Add New</button></a>
       
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Expertise</th>
                    <th scope="col">Date Added</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Vastu</td>
                    <td>2023-01-15</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Card</td>
                    <td>2023-02-10</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Palmistry</td>
                    <td>2023-03-05</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Horoscope</td>
                    <td>2023-04-18</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Face reading</td>
                    <td>2023-05-23</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>