

@{
    Layout = "AdminLayout";
}

<style>
    svg{
        cursor: pointer;
        transition: transform 0.2s;
    }

    svg:hover {
            transform: scale(1.1);
        }
    .approveButton:hover{ color: green;
    }

    .rejectButton:hover {
        color: darkorange;
    }

    .removeButton:hover {
        color: red;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Pending Jyotish</h6>

        </div>
        <div class="table-responsive">

            <table id="DataTable" class="table text-start align-middle table-bordered table-hover mb-0" style="width:100%;">
                <!-- Table headers will be inserted dynamically -->
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        function fetchData() {
            $.ajax({
                url: "https://localhost:7118/api/Admin/PendingJyotish",
                type: 'GET',
                success: function (result) {
                    let htmls = '<thead><tr><th>Id</th><th>Name</th><th>Mobile</th><th>Expertise</th><th>Language</th><th>Gender</th><th>Action</th> <th>Status</th> </tr></thead><tbody>';

                    $.each(result.data, function (key, item) {
                       
                       
                        htmls += '<tr>';
                        htmls += `<td class="text-center">${item.id}</td>`;
                        htmls += `<td class="text-center">${item.name}</td>`;
                        htmls += `<td class="text-center">${item.mobile}</td>`;
                        htmls += `<td class="text-center">${item.expertise}</td>`;
                        htmls += `<td class="text-center">${item.language}</td>`;
                        htmls += `<td class="text-center">${item.gender}</td>`;

                        if (item.status == "Rejected") { htmls += `<td class="text-center" style="color:darkorange">${item.status}</td>
                            <td class="text-center">
                
                <svg class="removeButton" data-id="${item.id}" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"/>
                </svg>
                </td>`;
                        }
                        else if (item.status == "Approved") {
                            htmls += `<td class="text-center" style="color:green">${item.status}</td> 
                            <td class="text-center">
                            
                
                <svg class="removeButton" data-id="${item.id}" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"/></svg></td>
                            `; }


                        else if (item.status == "Pending") {
                            htmls += `<td class="text-center" style="color:green">${item.status}</td>
                                <td class="text-center">
                                <svg class="approveButton" data-id="${item.id}" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                <path fill="currentColor" d="m10.6 13.8l-2.15-2.15q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7L9.9 15.9q.3.3.7.3t.7-.3l5.65-5.65q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
                    </svg>
                    <svg class="rejectButton" data-id="${item.id}" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M8.25 21L3 15.75v-7.5L8.25 3h7.5L21 8.25v7.5L15.75 21zm.9-4.75L12 13.4l2.85 2.85l1.4-1.4L13.4 12l2.85-2.85l-1.4-1.4L12 10.6L9.15 7.75l-1.4 1.4L10.6 12l-2.85 2.85zM9.1 19h5.8l4.1-4.1V9.1L14.9 5H9.1L5 9.1v5.8zm2.9-7" />
                    </svg>
                    <svg class="removeButton" data-id="${item.id}" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"/></svg></td>
                                `;
                        }
                        
                        htmls += '</tr>';
                    });

                    htmls += '</tbody>';
                    $('#DataTable').html(htmls);
                    $('#DataTable').DataTable();
                },
                error: function (errormessage) {
                    console.error('Error fetching data:', errormessage.responseText);
                }
            });
        }

        // Load all records by default
        fetchData();
    });
</script>

<script>
    $(document).on('click', '.removeButton', function () {
        // Get the ID from the data-id attribute of the clicked SVG
        
        var Id = $(this).data('id');
        Swal.fire({
            title: "Are you sure to remove this Jyotish?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, remove it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "https://localhost:7118/Api/Admin/RemoveJyotish",
                    type: 'POST',
                    contentType: 'application/json', // Specify that the content type is JSON
                    data: JSON.stringify({
                        id: Id,
                    }),
                    success: function (response) {

                        Swal.fire({
                            title: "Remove!",
                            text: "Your jyotish has been Removed.",
                            icon: "success"
                        });
                        fetchData();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", xhr.responseText);
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something went wrong!",
                            footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    }
                });


            }
        })





       
    });

    $(document).on('click', '.rejectButton', function () {
        // Get the ID from the data-id attribute of the clicked SVG
        
        var Id = $(this).data('id');
        Swal.fire({
            title: "Are you sure to reject this Jyotish?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, reject it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "https://localhost:7118/Api/Admin/RejectJyotish",
                    type: 'POST',
                    contentType: 'application/json', // Specify that the content type is JSON
                    data: JSON.stringify({
                        id: Id,
                    }),
                    success: function (response) {

                        Swal.fire({
                            title: "Reject!",
                            text: "Your jyotish has been Rejected.",
                            icon: "success"
                        });
                        fetchData();

                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", xhr.responseText);
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something went wrong!",
                            footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    }
                });


            }
        })
       
    });

    $(document).on('click', '.approveButton', function () {
        // Get the ID from the data-id attribute of the clicked SVG
        
        var Id = $(this).data('id');

        Swal.fire({
            title: "Are you sure to approve this Jyotish?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, approve it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "https://localhost:7118/Api/Admin/ApproveJyotish",
                    type: 'POST',
                    contentType: 'application/json', // Specify that the content type is JSON
                    data: JSON.stringify({
                        id: Id,
                    }),
                    success: function (response) {
                      
                            Swal.fire({
                                title: "Approved!",
                                text: "Your jyotish has been approved.",
                                icon: "success"
                            });
                            fetchData();
                        
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", xhr.responseText);
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something went wrong!",
                            footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    }
                });

                
            }
        })
       
    });
</script>
