@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Jyotish List</h6>

        </div>
        <div class="table-responsive">
            <table id="DataTable" class="table text-start align-middle table-bordered table-hover mb-0">
              
            </table>
        </div>
    </div>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/2.1.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        function fetchData() {
            $.ajax({
                url: "https://localhost:7118/api/Admin/User",
                type: 'GET',
                success: function (result) {
                    let htmls = '<thead><tr><th>Id</th><th>FirstName</th><th>LastName</th><th>Mobile</th><th>Email</th></tr></thead><tbody>';

                    $.each(result.data, function (key, item) {
                        htmls += '<tr>';
                        htmls += `<td class="text-center">${item.id}</td>`;
                        htmls += `<td class="text-center">${item.firstName}</td>`;
                        htmls += `<td class="text-center">${item.lastName}</td>`;
                        htmls += `<td class="text-center">${item.mobile}</td>`;
                        htmls += `<td class="text-center">${item.email}</td>`;


                        htmls += '</tr>';
                    });

                    htmls += '</tbody>';
                    $('#DataTable').html(htmls);

                },
                error: function (errormessage) {
                    console.error('Error fetching data:', errormessage.responseText);
                }
            });
        }

        // Load all records by default
        fetchData();
    });
</script>