@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<style>
     .outerDiv {
         font-family: Arial, Helvetica, sans-serif;
     }

     .container {
         display: flex;
         border: 1px solid #ccc;
         width: 80%;
         margin: 0 auto;
     }

     .left {
         width: 50%;
         padding: 20px;
         background-color: #f1f1f1;
     }

     .right {
         width: 50%;
         padding: 20px;
     }

     .header {
         background-color: yellow;
         padding: 10px;
         text-align: center;
     }

     .button {
         background-color: yellow;
         color: black;
         padding: 10px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         width: 100%;
     }
</style>
<div class="outerDiv">
    <div class="container">
        <div class="left">
            <div class="header">
                SUPPORT CHAT
            </div>
            <p>No Tickets Available</p>
            <button class="button">Create New Chat</button>
        </div>
        <div class="right">
            <div class="header">
                Support Chat
            </div>
            <img src="https://placehold.co/400x400" alt="Pattern" style="width:100%">
        </div>
    </div>

</div>