@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "HomePage";
}

<br />
<div class="container" style="height:300px; width: 100%; background-color:yellow " >
    
    <img src="https://localhost:7118/wwwroot/Images/astrologer_baba.webp" width="1111" height="300" />
</div>
<br />
<div class="container">

    <div class="d-flex row bg-white">
        <div class="col g-1 border-1 border-primary" style=" height:270px; Background-color: aqua;">
            <img src="~/img/Chat.png" height="80px" style="margin:80px;"/>
            <h4>Chat with Astrologer </h4>
        </div>

        <div class="col g-1" style=" height:270px; Background-color: grey;">
            <img src="~/Img/Talk.png" height="80px" style="margin:80px;" />
            <h4>Talk with Astrologer</h4>
        </div>

        <div class="col g-1" style=" height:270px; Background-color: aqua;">
            <img src="~/img/kundli.png" height="80px" style="margin:80px;" />
            <h4>Free Kundali</h4>
        </div>

        <div class="col g-1" style=" height:270px; Background-color: grey;">
            <img src="~/img/kundliMatching.png" height="80px" style="margin:80px;" />
            <h4>Kundali Matching</h4>
        </div>


    </div>

</div>

<br />
<div class="container">
    <h4 class="text-center"> LATEST FROM BLOG</h4>
    <div class="d-flex row">

        <div class="col-md-4 g-1 d-block" style=" height:320px; Background-color: aqua;">
            <img src="~/img/blog1.jpg"  style="width:368px; height:255px;"  />
            <a href="/Home/BlogDetails">
                <p>
                    4 Zodiac Signs Most Likely to Travel the World
                </p>
            </a>
            
            <p> Jyoti  <strong style="float:right;">June 8, 2024</strong></p>
        </div>

        <div class="col-md-4 g-1 d-block" style=" height:320px; Background-color: grey;">
            <img src="~/img/blog1.jpg" style="width:368px; height:255px;" />
            <p>
                4 Zodiac Signs Most Likely to Travel the World
            </p>
            <p> Jyoti  <strong style="float:right;">June 8, 2024</strong></p>
        </div>
        <div class="col-md-4 g-1 d-block" style=" height:320px; Background-color: aqua;">
            <img src="~/img/blog1.jpg" style="width:368px ; height:255px;" />
            <p>
                4 Zodiac Signs Most Likely to Travel the World
            </p>
            <p> Jyoti  <strong style="float:right;">June 8, 2024</strong></p>
        </div>
    </div>
</div>
<br />
<div class="container">
    <h2 class="text-center"> Complimentary astrology services</h2>
    <div class=" d-flex row text-center">
        <div class="col-md-3 g-1" style=" height:270px; Background-color: aqua;">
            <img src="~/img/horoscope.png" height="80px" style="margin-top:30px; margin-left:80px; margin-right:80px;" />
            <a href="/Home/TodayHoroscope">
                <h5>Today's Horoscope</h5>
            </a>
            <p>
                Unsure about how your day will unfold? Get free Aries horoscope online prediction from top astrologer. Read your Aries Zodiac Sign Horoscope today!
            </p>
        </div>
        <div class="col-md-3 g-1" style=" height:270px; Background-color: grey;">
            <img src="~/img/horoscope.png" height="80px" style="margin-top:30px; margin-left:80px; margin-right:80px;" />
            <a href="/Home/FreeKundli"><h5>Free Kundali</h5></a>
            <p>
                Unsure about how your day will unfold? Get free Aries horoscope online prediction from top astrologer. Read your Aries Zodiac Sign Horoscope today!
            </p>
        </div>
        <div class="col-md-3 g-1" style=" height:270px; Background-color: aqua;">
            <img src="~/img/horoscope.png" height="80px" style="margin-top:30px; margin-left:80px; margin-right:80px;" />
            <a href="/Home/Compatibility"><h5>Compatibility</h5></a>
            <p>
                Unsure about how your day will unfold? Get free Aries horoscope online prediction from top astrologer. Read your Aries Zodiac Sign Horoscope today!
            </p>
        </div>
        <div class="col-md-3 g-1" style=" height:270px; Background-color: grey;">
            <img src="~/img/horoscope.png" height="80px" style="margin-top:30px; margin-left:80px; margin-right:80px;" />
            <a href="/Home/IndianCalendarFestivals"><h5>Festival 2024</h5></a>
            <p>
                Unsure about how your day will unfold? Get free Aries horoscope online prediction from top astrologer. Read your Aries Zodiac Sign Horoscope today!
            </p>
        </div>

    </div>
</div>
<br />
<div class="container">
    <h4 class="text-center">Our Celebrity Customers</h4>
    <div class="d-flex row">
        
        <div class="col g-1" style=" height:250px; Background-color: aqua;">
            <img src="https://i3.ytimg.com/vi/i1KL9-vcB7w/maxresdefault.jpg" width="368px" class="rounded-2" />
            <p> Secret of Mandira Bedi's Success</p>
        </div>

        <div class="col g-1" style=" height:250px; Background-color: aqua;">
            <img src="https://i3.ytimg.com/vi/i1KL9-vcB7w/maxresdefault.jpg" width="368px" class="rounded-2" />
            <p> Secret of Mandira Bedi's Success</p>
        </div>

        <div class="col g-1" style=" height:250px; Background-color: aqua;">
            <img src="https://i3.ytimg.com/vi/i1KL9-vcB7w/maxresdefault.jpg" width="368px" class="rounded-2" />
            <p> Secret of Mandira Bedi's Success</p>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="d-flex row">
        <h4 class="text-center"> Our Astrologers</h4>
        <div class="col g-1 text-center" style=" height:250px; Background-color: aqua;">
            <img src="~/img/astrologer.jpg" />
            <a href="/Home/JyotishProfile">
                <h6> Prikshana</h6>
            </a>
            <p>Astrologer Expertise</p>
        </div>
        <div class="col g-1 text-center" style=" height:250px; Background-color: grey;">
            <img src="~/img/astrologer.jpg" />
            <h6> Prikshana</h6>
            <p>Astrologer Expertise</p>

        </div>
        <div class="col g-1 text-center" style=" height:250px; Background-color: aqua;">
            <img src="~/img/astrologer.jpg" />
            <h6> Prikshana</h6>
            <p>Astrologer Expertise</p>

        </div>

        <div class="col g-1 text-center" style=" height:250px; Background-color: grey;">
            <img src="~/img/astrologer.jpg" />
            <h6> Prikshana</h6>
            <p>Astrologer Expertise</p>

        </div>

    </div>

</div>
   