@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="/Home/SignUpUser">
        <button style="background-color:aqua; width:150px;border:solid;border-color:black">
            User
        </button>
    </a>

    <a href="/Jyotish/SignUp">
        <button style="background-color:aqua; width:150px;border:solid;border-color:black">
            Jyotish
        </button>
    </a>
    <a href="/TeamMember/Login">
        <button style="background-color:aqua; width:150px;border:solid;border-color:black">
            Team Member
        </button>
    </a>
    <a href="/Admin/Login">
        <button style="background-color:aqua; width:150px;border:solid;border-color:black">
            Admin
        </button>
    </a>
</div>