@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .outerDiv {
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    .button-red {
        background-color: #f44336; /* Red */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
<div class="outerDiv">
    <h2 style="text-align:center;">Transactions</h2>
    <p style="text-align:center;">Available balance: ₹0</p>

    <p style="text-align:center;">
        <button class="button" style="background-color: yellow;">Wallet Transactions</button>
        <button class="button">Payment Logs</button>
        <button class="button">Recharge</button>
        <button class="button-red" style="float:right">Delete All</button>
    </p>
    <table>
        <tr>
            <th>Description</th>
            <th>Invoice</th>
            <th>Transaction Amount</th>
            <th>Datetime</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Donation of Hello in Live Session with Hariyanshi</td>
            <td></td>
            <td>0</td>
            <td>Aug 3, 2024, 10:45 AM</td>
            <td><img src="https://cdn-icons-png.flaticon.com/512/1214/1214426.png" height="20"></td>
        </tr>
        <tr>
            <td>Chat with Acharya Ji for 2 minutes</td>
            <td></td>
            <td>0</td>
            <td>Aug 3, 2024, 10:35 AM</td>
            <td><img src="https://cdn-icons-png.flaticon.com/512/1214/1214426.png" height="20"></td>
        </tr>
    </table>

</div>