@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/MyJyotishJiWebDesign.styles.css" asp-append-version="true" />
<style>

    body {
        font-family: Arial, sans-serif;
    }

    .padding_desktop_view {
        padding: 20px;
        max-width: 500px;
        margin: auto;
    }

    .subheading_for_notification {
        font-size: 16px;
        color: #333;
    }

    .mobile_number_enter_section h6 {
        font-size: 18px;
        color: #555;
    }

    .box_enter_mobile_number {
        display: flex;
        align-items: center;
    }

    .country_btn_number_registration {
        margin-right: 10px;
    }

        .country_btn_number_registration img {
            width: 24px;
            height: 16px;
        }

    .country_select {
        margin-right: 10px;
        padding: 8px;
        font-size: 16px;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .get_otp_btn {
        margin-top: 10px;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }

      

    .policy-text {
        margin-top: 10px;
        font-size: 14px;
        color: #777;
    }

        .policy-text a {
            color: #007bff;
            text-decoration: none;
        }

            .policy-text a:hover {
                text-decoration: underline;
            }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Full viewport height */
    }
</style>

<div class="padding_desktop_view">
    <h6 class="subheading_for_notification">
       
    </h6>
    <div class="mobile_number_enter_section">
        <h6>Enter Your Name</h6>
        <div class="box_enter_mobile_number">
            <input id="Name" name="Name" type="text" class="form-control" placeholder="Enter your Name." required>
        </div>
        <a href="/Home/Homepage" class="btn btn-success">
            Submit
        </a>
        
        <div class="policy-text">
            <p class="terms-line">
                By Signing up, you agree to our
                <a href="" rel="noopener" target="_blank">Terms of Use</a>
                and
                <a href="" rel="noopener" target="_blank">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>